
:root{
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
input{
    text-align: right;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    border-color: black;
    color: white;
}
body> main{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
   align-items: center;
}
main>main{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 75%;
}
main>section{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
    border-radius: 12px;


}
.mainSection{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.72);
    padding:10px

}
.mainSection>section{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.mainSection>:first-child{
    height: 20%;

}
.mainSection>:last-child{

    height: 80%;
    display: flex;
}
.upSection{
    border-bottom: #e31717 solid 2px;
}
.upSection>section{
    display: flex;
    justify-content: end;
    width:100%;
}
.upSection>:first-child{
    height: 30%;
}
.upSection>:last-child{
    height: 70%;
}
.upSection>:first-child>input{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgba(0, 0, 0, 0.69);
    color: white;
}
.upSection>:last-child>input{
    background-color: white;
    color: black;
    font-size: 2em;
    font-weight: bold;
    height: 100%;
}






  /*DOWN SECTION===================*/
.downSection>section,.buttonSection{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.buttonSection{
    flex-direction: column;
    justify-content: flex-start;
}
.buttonSection>section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;

}
.buttonSection>section>div{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: black;
color: white;

    border-radius: 12px;
    width: 20%;
    height: 90%;
    margin: 5px;

    cursor: pointer;

}
.buttonSection>section>div>span{
    font-size: 2rem;
    font-weight: bold;
}
section>div:last-child{
    background-color: #005fd0;
}
.buttonSection>section>div:hover{
   border: rgb(255, 255, 255) solid 2px;
}

#btnEqual:hover{
   border: rgb(255, 255, 255) solid 2px;
}
#btnClear:hover{
   border: rgb(255, 255, 255) solid 2px;

}
.btnBackSpace{
    background-image: url("../img/icons8-backspace-50 (2).png");
    background-repeat: no-repeat;
    background-size:2.5em;
   background-position-x: center;
    background-position-y: center;

}
@media all and (min-width: 450px) {
    #btnZro,#btnEqual{
        flex-grow: 0 !important;
    }
    div{
        font-size: 1em !important;
    }
}
